<div class="homeimg"></div>
<img class="applelogo" src="assets/images/applelogo.png">
<p class="welcome">Welcome to Apple</p>
<button class="browse" (click)="scroll()">Browse</button>
<div id="products">
    <img class="applelogo" src="assets/images/applelogo.png">
    <p class="brandnew">Brand New</p>
    <div class="macbook">
        <img src="assets/images/macbook.png">
        <p>Macbook</p>
    </div>
    <div class="iphone">
        <img src="assets/images/iphone.png">
        <p>iPhone</p>
    </div>
    <div class="airpods">
        <img src="assets/images/airpods.png">
        <p>Airpods</p>
    </div>
    <div class="watch">
        <img src="assets/images/watch.png">
        <p>Watch</p>
    </div>
    <div class="ipad">
        <img src="assets/images/ipad.png">
        <p>iPad</p>
    </div>
</div>